.nav-menu{
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    position: fixed;
}

.header{
    display: flex;
    color: #fff;
    list-style: none;
    margin-top: 30%;
    margin-bottom: 50%;
    height: 5%;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    /*line-height: 58px;*/

    /* identical to box height */

    color: #FFFFFF;

    text-shadow: 4px 8px 9px rgba( 31, 38, 135, 0.67 );
}

.nav-menu-items{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50%;
}

.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    list-style: none;
    /*height: 60px;*/
    margin-top: 10%;
}

.nav-text a{
    text-decoration: none;
    /*color: #f5f5f5;*/
    font-size: 1.5rem;
    letter-spacing: 1px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5%;
    outline: none;
    border: 2px solid #603bbb;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-text a:hover,
.active{
    /*background: #16183a;*/
    outline: none;
    /*padding: 1%;*/
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
    transition: 0.3s ease-in;

    z-index: 2;
    background-color: #603bbb;
    border: 2px solid #603bbb;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /*Glass background*/
    /*background: rgba( 255, 255, 255, 0.05 );*/
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    /*backdrop-filter: blur( 10.0px );*/
    /*-webkit-backdrop-filter: blur( 10.0px );*/
    /*border-radius: 10px;*/
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

span{
    margin-left: 10%;
}

.nav-menu button{
    width: 95%;
    /*border: none;*/
    border-radius: 16px;
    padding: 5%;
    cursor: pointer;

    /*border: none;*/
    outline: none;
    /*padding: 1%;*/
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    /*background: #603bbb;*/
    background: none;
    cursor: pointer;
    /*border-radius: 1rem;*/
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    /*Glass background*/
    /*background: rgba( 255, 255, 255, 0.05 );*/
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    /*backdrop-filter: blur( 10.0px );*/
    /*-webkit-backdrop-filter: blur( 10.0px );*/
    /*border-radius: 10px;*/
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

button:hover{
    /*background: #16183a;*/
    z-index: 2;
    background-color: #603bbb;
    transition: .3s ease-in;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.sidebar-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*bottom: 0;    */
    margin-top: 25%;
    margin-left: 15%;
    /*background-color: red;*/
    width: 100%;
}

.sidebar-footer p{
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    /*bottom: 0;    */
    /*margin-top: 70%;*/
    margin-bottom: 5%;
    /*margin-left: 15%;*/
    /*padding: 5%;*/
    width: 95%;
}

button.btn-footer:hover{
    background: #603bbb;
}
