.nav-menu{
    width: 15%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    /*background: #333867;*/
    background: linear-gradient(122.1deg, #333867 11.91%, #16183A 100%);
    /*box-shadow: 0px 4px 4px rgba(1, 0, 0, 1);*/
}

.header{
    display: flex;
    color: #fff;
    list-style: none;
    margin-top: 30%;
    margin-bottom: 50%;
    height: 5%;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    /*line-height: 58px;*/

    /* identical to box height */

    color: #FFFFFF;

    text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
}

.nav-menu-items{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    list-style: none;
    /*height: 60px;*/
    margin-top: 10%;
}

.nav-text a{
    text-decoration: none;
    /*color: #f5f5f5;*/
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5%;
    outline: none;
}

.nav-text a:hover{
    background: #16183a;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);*/
}

.active{
    background: #16183a;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);*/
}

.active span, .active svg{
    /*color: #3985FB; */
    /*fill: #3985FB;*/
}

span{
    margin-left: 10%;
}

.nav-menu button{
    background: #16183a;
    width: 95%;
    border: none;
    border-radius: 16px;
    padding: 5%;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.nav-menu button:hover{
    background: #16183a;
    
}

