.stock{
    display: flex;
    flex-direction: column;
    background: #16183a;
    align-items: center;
    justify-content: center;
    width: 50%;
    /*padding: 12%;*/
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stock-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
    justify-content: space-evenly;
}

.stock-details p{
    
}

.stock-details button{
    width: 8rem;
    border: none;
    outline: none;
    padding: 1%;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
    border-radius: 1rem;
}

.stock-details .drop-down{
    cursor: pointer;
}
