@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin-left: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

body{
    /*background: linear-gradient(122.1deg, #333867 11.91%, #16183A 100%);*/
    background: linear-gradient(#16183A, #333867);
    backdrop-filter: blur(10px);
    
}

.portfolio, .stocks{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1rem;
    font-family: Lato;    
}

