@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin-left: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

body{
    /*background: linear-gradient(122.1deg, #333867 11.91%, #16183A 100%);*/
    background: linear-gradient(#16183A, #333867);
    background-size: 100%;
    background-repeat: no-repeat;
    /*background: #333867;*/
    backdrop-filter: blur(10px);
    height: auto;
    overflow: auto;
    
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
    background: linear-gradient(#16183A, #333867);
}

button:hover{
    /*transform: scale(1.05);*/
    border: 4px solid ;
    background-color: white;
}

.portfolio, .stocks{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1rem;
    font-family: Lato;    
}

.stocks-container{
    /*background: #333867;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*margin-top: 5%;*/
    justify-content: space-between;
    padding-bottom: 10%;
    margin-top: 2%;
}

.title-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 25%;
    width: 50%;
    font-weight: 600;
    font-family: Lato;
    letter-spacing: 1px;
}

